@use 'sass:map';
@use "@jamesbenrobb/styles/theme" as theme;


@mixin setJBRDRAVars($light-theme: null, $dark-theme: null, $side-menu-width: null) {

  $default-themes: theme.get-default-themes();

  @if $light-theme == null {
    $light-theme: nth($default-themes, 1);
  }

  @if $dark-theme == null {
    $dark-theme: nth($default-themes, 2);
  }

  @if $side-menu-width != null {
    --jbr-dra-side-menu-width: #{$side-menu-width};
  }

  $palettes: theme.get-mode-palettes-for(primary, $light-theme, $dark-theme);
  $light-palette: nth($palettes, 1);
  $dark-palette: nth($palettes, 2);

  $link-colors: theme.get-mode-colors-for(
    $palette-type: primary,
    $type: default,
    $light-theme: $light-theme,
    $dark-theme: $dark-theme
  );

  --jbr-dra-link-color: #{nth($link-colors, 1)};
  --jbr-dra-side-menu-item-color-1: var(--jbr-dra-link-color);

  @media (prefers-color-scheme: dark) {
    --jbr-dra-link-color: #{nth($link-colors, 2)};
  }
}
